{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Попытки команды "{{ team_name }}"</h1>
    <a class="btn btn-outline-success" href=".">Назад на страницу соревнования</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Статус</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Счёт</th>
            </tr>
        </thead>
        {% for attempt in attempts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ attempt.status }}</td>
                <td>{{ attempt.created_at }}</td>
                <td>{{ attempt.public_score }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}