{% extends 'base.html' %}
{% block content %}
    {% if my_contests %}
        <h1>Мои соревнования</h1>
        {% for contest in my_contests %}
            <div class="card">
                <div class="card-header bg-success text-white">{{ contest.name }}</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        Время проведения: {{ contest.starts_at }} - {{ contest.ends_at }}
                    </h6>
                    <p class="card-text">{{ contest.description|safe }}</p>
                    <a href="{% url 'front:contest' contest.id %}" class="btn btn-success">Перейти к соревнованию</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if active_contests %}
        <h1>Активные соревнования</h1>
        {% for contest in active_contests %}
            <div class="card">
                <div class="card-header bg-success text-white">{{ contest.name }}</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        Время проведения: {{ contest.starts_at }} - {{ contest.ends_at }}
                    </h6>                    <p class="card-text">{{ contest.description|safe }}</p>
                    <a href="#" class="btn btn-success">Принять участие</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if future_contests %}
        <h1>Планируемые соревнования</h1>
        {% for contest in future_contests %}
            <div class="card">
                <div class="card-header bg-success text-white">{{ contest.name }}</div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Время проведения: {{ contest.starts_at }} - {{ contest.ends_at }}
                    </h6>                <div class="card-body">
                    <p class="card-text">{{ contest.description|safe }}</p>
                    <a href="#" class="btn btn-success">Зарегистрироваться</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if archive_contests %}
        <h1>Прошедшие соревнования</h1>
        {% for contest in archive_contests %}
            <div class="card">
                <div class="card-header bg-success text-white">{{ contest.name }}</div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Время проведения: {{ contest.starts_at }} - {{ contest.ends_at }}
                    </h6>                <div class="card-body">
                    <p class="card-text">{{ contest.description|safe }}</p>
                    <a href="#" class="btn btn-success">Посмотреть результаты</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}