{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if contest %}
        <a class="btn btn-outline-success" href=".">Назад на страницу соревнования</a>
        {% if not_registered %}
            {% include 'team_form.html' %}
        {% endif %}
    {% endif %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название команды</th>
                <th scope="col">Участники</th>
                {% if not_registered %}
                    <th scope="col">Действия</th>
                {% endif %}
            </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ team.name }}</td>
                <td>{{ team.users|join:", " }}</td>
                {% if not_registered %}
                    <td><a class="btn btn-success">Присоединиться к команде</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}